<div class="row ex2" style="flex:auto; justify-content:right; align-items:center">
        <div class="col-4">
            <h2 style="font-size: 25px;"><strong>{{userName}}</strong> <span><img src={{picture}} alt="Avatar" class="avatar"></span></h2>
        </div>
        {{!-- <div class="col-4">
            <form action="/logout" name="logout" method="GET">
                <button type="submit" class="btn btn-danger" style="margin:1.5em; ">
                    Logout</button>
            </form>
        </div> --}}
    </div>