{{>HeaderLogin}}
{{>FormIngresar}}
{{>IngresarMensajes}}
    {{!-- <h1>Chat en línea</h1>
    <div id="mensajes"></div>
    <br>
    <form onsubmit="return enviarMensaje(this)">
        <input type="email" id="usuario" placeholder="Ingresar email">
        <input type="text" id="texto" placeholder="Su mensaje...">
        <input type="submit" value="Enviar">
    </form> --}}