
<form style="margin:20px;">
    <div>
        <h1>USUARIO YA REGISTRADO</h1>
        <hr class="solid">
        <a class="btn btn-primary volver" href="/login" role="button">Volver</a>
    </div>
</form>