table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

div.ex{
  width: 40%;
}

div.ex2{
  position: relative;
  left: 25%;
  width: 50%;
  background-color: #F28773;
}

a.volver{
  margin-left: 45%;
}

form{
  display: flex;
  justify-content:center;
  align-items:center;
}

strong.bluetext{
  color: blue;
}

span.browntext{
  color: brown;
}

em.greentext{
  color: green;
}

hr.solid {
  border-top: 3px solid #bbb;
}